.staff__thumbnail {
    border: 4px solid #ffffff;
    border-radius: 0;
    padding: 0.5em;
    -webkit-transition: border .5s ease-in-out;
    -o-transition: border .5s ease-in-out;
    transition: border .5s ease-in-out;
    margin-bottom: 0.5em;
    text-align: center;
}

.staff__thumbnail:hover {
    border: 4px solid #f0f0f0;
}

.view-header__term-description {
    margin-bottom: 1em;
}

@media (min-width: 1200px) {
    .node__staff {
        display: flex;
    }
    .node__staff-data-left {
        width: 60%;
        padding-right: 2rem;
    }
    .node__staff-data-right {
        width: 40%;
    }
}